<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="style/login.css" type="text/css"/>
<body>
<div class="yi">

    <div class="header">
        <img src="images/4.png"/>
    </div>
    <div class="login">
        <img src="images/3.png" class="img1">
        </div>
     <div class="content">
          <div class="nei">
               <div class="kuang">
                 <p><span><img src="images/ren.jpg"></span><label>用户名</label>  <input type="text" id="username"/></p>
                  <p><span><img src="images/suo.jpg"></span><label>密码</label> <input type="password" id="psw"/></p>
                  <p>
                      <span><img src="images/yan.jpg"></span>
                      <label>验证码</label> <input type="text" id="yan"/>
                      <span class="yan" > 
                          <img src="http://www.doudoufei.top/shops/admin/index.php?act=captcha&0.4770351643722788" alt="验证码"  align="bottom" style="cursor:pointer;" title="看不清可单击图片刷新" onclick="this.src='http://www.doudoufei.top/shops/admin/index.php?act=captcha&d='+Math.random();" id="zhen"/></span>
                      <!-- <img src="code.jsp" alt="验证码" height="20" align="bottom" style="cursor:pointer;" title="看不清可单击图片刷新" onclick="this.src='code.jsp?d='+Math.random();" /> -->
                    </p>
               </div>
               <button onclick="login()" >登录</button>
               <div class="bao">
                   <input type="checkbox" />
                   <span>保存登录信息</span>
                   <span class="wang"><a href="#">忘记密码？</a></span>
                   <span class="qu"><a href="#">去店铺首页>></a></span>
               </div>
          </div>
          <div class="tu"><img src="images/2.png"></div>
     </div>
     
</div>
</body>
</html>
<script>
        function login(){
            $.ajax({
                url:"/loginAction",
                type: "post",
                data:{
                    username:$("#username").val(),
                    psw:$("#psw").val()
                    
                },
                success:function(res){
                    console.log(res);
                    if(res.code==1){
                        alert(res.message);
                         location.href="/shop";
                    }else{
                        alert(res.message);
                     
                }
            }
            })
        }
     </script>